@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header {
    background: url('../../images/banner-bg.png') no-repeat,
      linear-gradient(to right, #02047e, #002abf);
    background-size: 230%, 100%;
    background-position: -450px 224px, center;
    clip-path: polygon(100% 0, 100% 90%, 0 100%, 0 0);
  }
  .mobile-menu.show {
    @apply !top-100p;
  }

  .custom-btn {
    @apply px-6 py-2.5 rounded-sm border text-tiny text-white font-semibold inline-block;
  }

  .custom-btn-large {
    @apply text-base px-5 md:px-7 py-3;
  }

  .custom-btn-primary {
    @apply bg-paste hover:bg-transparent hover:text-paste transition-colors border-paste;
  }

  .custom-btn-outline {
    @apply bg-transparent border-white hover:bg-white hover:text-paste transition-colors;
  }

  .prev-price {
    @apply after:content-[""] after:bg-title/50 after:w-[26px] after:h-px after:absolute after:top-50p after:left-0;
  }

  .curr-price {
    @apply before:content-['$'] before:text-title before:absolute before:left-0 before:top-2.5 before:text-lg before:font-bold;
  }

  .triangle {
    width: 0;
    height: 0;
    border-bottom: 10px solid red;
    border-left: 10px solid transparent;
    right: 21%;
  }

  .banner-wrapper {
    background-size: 240%;
    background-position: 86% 50%;
  }

  @media (max-width: 360px) {
    .header {
      background-position: -410px 290px, center;
    }
  }
  @media (min-width: 768px) {
    .header {
      background-size: 1500px, 100%;
      background-position: -690px 100px, center;
    }
  }

  @media (min-width: 1024px) {
    .header {
      background-size: 1400px, 100%;
      background-position: -220px -100px, center;
      clip-path: polygon(100% 0, 100% 75%, 0 100%, 0 0);
    }
  }
  @media (min-width: 1280px) {
    .header {
      background-size: 1578px, 100%;
      background-position: -150px -120px, center;
    }
  }

  @media (min-width: 1400px) {
    .header {
      background-position: -110px -120px, center;
    }
  }
  @media (min-width: 1600px) {
    .header {
      background-size: 1820px, 100%;
      background-position: -150px -120px, center;
    }
  }
}
